{{- /* JSON-LD: the person everywhere, the site on the home, an article on posts. */}}
{{- $lang := .Site.Language.Lang }}
{{- $p := .Site.Data.career.profile }}
{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" .Site.BaseURL)
  "name" $p.name
  "alternateName" $p.shortName
  "jobTitle" (index $p.headline $lang)
  "url" .Site.BaseURL
  "image" ($p.photo | absURL)
  "email" (printf "mailto:%s" $p.email)
  "sameAs" (slice $p.linkedin $p.github)
  "address" (dict "@type" "PostalAddress" "addressCountry" "BR")
}}
{{- $graph := slice }}
{{- if .IsHome }}
  {{- $site := dict "@type" "WebSite" "@id" (printf "%s#website" .Site.BaseURL) "url" .Site.BaseURL "name" .Site.Title "inLanguage" .Site.Language.LanguageCode "publisher" (dict "@id" (printf "%s#person" .Site.BaseURL)) }}
  {{- $graph = $graph | append $site $person }}
{{- else if and .IsPage (in (slice "writing" "artigos") .Section) }}
  {{- $tags := slice }}{{ range .GetTerms "tags" }}{{ $tags = $tags | append .LinkTitle }}{{ end }}
  {{- $article := dict
    "@type" "BlogPosting"
    "@id" (printf "%s#article" .Permalink)
    "mainEntityOfPage" .Permalink
    "url" .Permalink
    "headline" .Title
    "description" .Description
    "inLanguage" .Site.Language.LanguageCode
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "wordCount" .WordCount
    "keywords" (delimit $tags ", ")
    "image" (.Params.image | default "og-default.png" | absURL)
    "author" (dict "@id" (printf "%s#person" .Site.BaseURL))
    "publisher" (dict "@id" (printf "%s#person" .Site.BaseURL))
  }}
  {{- with (index (.GetTerms "categories") 0) }}{{ $article = merge $article (dict "articleSection" .LinkTitle) }}{{ end }}
  {{- $graph = $graph | append $article $person }}
{{- else if in (slice "about" "sobre") .Section }}
  {{- $graph = $graph | append (dict "@type" "ProfilePage" "@id" .Permalink "url" .Permalink "name" .Title "inLanguage" .Site.Language.LanguageCode "mainEntity" (dict "@id" (printf "%s#person" .Site.BaseURL))) $person }}
{{- else }}
  {{- $graph = $graph | append (dict "@type" "WebPage" "@id" .Permalink "url" .Permalink "name" .Title "inLanguage" .Site.Language.LanguageCode "isPartOf" (dict "@id" (printf "%s#website" .Site.BaseURL))) }}
{{- end }}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify (dict "noHTMLEscape" true) | safeJS }}</script>
